  body {
            color: #5d5d5d;
            font: 14px BYekan;
            /*font-family: Helvetica, Arial, sans-serif;*/
        }


h1 {
    font-size: 30px;
    margin: auto;
    margin-top: 50px;
}

.container {
    max-width: 800px;
    margin: auto;
}

/* Specific mapael css class are below
 * 'mapael' class is added by plugin
*/

.mapael .map {
    position: relative;
}

.mapael .mapTooltip {
    position: absolute;
    background-color: #fff;
    moz-opacity: 0.70;
    opacity: 0.70;
    filter: alpha(opacity=70);
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
    max-width: 200px;
    display: none;
    color: #343434;
}
@font-face {
 font-family: 'BYekan';
 src: url('../fonts/BYekan.eot');
 src: local('b BYekan'), url('../fonts/BYekan.woff') format('woff'), url('../fonts/BYekan.ttf') format('truetype'), url('BYekan.svg') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'BElham';
 src: url('../fonts/BElham.eot');
 src: local('b BElham'), url('../fonts/BElham.woff') format('woff'), url('../fonts/BElham.ttf') format('truetype'), url('BElham.svg') format('svg');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'BNazanin';
 src: url('../fonts/BNazanin.eot');
 src: local('b BNazanin'), url('../fonts/BNazanin.woff') format('woff'), url('../fonts/BNazanin.ttf') format('truetype'), url('BNazanin.svg') format('svg');
 font-weight: normal;
 font-style: normal;
}

.cursor-pointer
{
    cursor: pointer !important;
    background-color: white !important;

}

.pretty-box
{
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
}
.pretty-box:hover
{
    border-bottom: 2px solid #455587;
}
.prety-text
{
    padding-bottom: 0px;
    border-bottom: 5px solid #eee;
    font-size: 1.1em;
    color: #4da6ff;
}
.prety-text:hover
{
    border-bottom: 5px solid #455587;
}
.prety-label
{
    padding-bottom: 5px;
   /* border-bottom: 2px solid #255527;*/
}

fieldset {
    padding-right: 20px;
    border:1px solid #999 !important;
    border-radius:8px;
    box-shadow:0 0 10px #999;
   // background-color: blue
}
legend {
    padding-right: 5px;
    background:#fff;
    border: 1px solid transparent;
    box-shadow-top:0 0 10px #999;
}
.center-banner
{
    height:92px;
    width:155px;
    margin-top:-15px;
    margin-right:-15px;
}
@media(min-width:768px) {
    .center-banner
    {
        height:50px;
        width:225px;
        margin-top:-15px;
        margin-right:-15px;
    }
}
@media(min-width:992px) {
    .center-banner
    {
        height:50px;
        width:225px;
        margin-top:-15px;
        margin-right:-15px;
    }
}
@media(min-width:1200px) {
    .center-banner
    {
        height:50px;
        width:225px;
        margin-top:-15px;
        margin-right:-15px;
    }
}


